@import '../../styles.scss';

mat-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $card-color;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.button {
    background-color: $button-color;

    &:hover {
        background-color: $button-glow;
    }
}