@import '../../styles.scss';

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $primary-color;
}

.title {
    text-align: center;
    margin-top: 10px;
}

button {
    background-color: $button-color;
    color: $border-color;

    &:hover {
        background-color: $button-glow;
    }
}