$primary-color: #d8b4a0;
$card-color: #eccd93;
$border-color: #223843;
$navigation-color: #d77a61;
$card-glow: #e9bb65;
$button-color: #AEB05D;
$button-glow: #DCD191;

body {
  background-color: $primary-color;
}